<div id="footer">
  <ul id="social">
    <li><a href="https://twitter.com/johnwi1453" target="_blank"><i class="fa fa-twitter icon-2x"></i></a></li>
    <li><a href="https://www.instagram.com/willijoh1/" target="_blank"><i class="fa fa-instagram icon-2x"></i></a></li>
    <li><a href="https://www.linkedin.com/in/john-williams-3647a7b1?trk=nav_responsive_tab_profile" target="_blank"><i class="fa fa-linkedin icon-2x"></i></a></li>
    <li><a href="https://github.com/palaiologos" target="_blank"><i class="fa fa-github icon-2x"></i></a></li>
  </ul>
  <p id="copyright">&#174; John Williams 2016</p>
</div>
