<div id="header-wrap">
  <div class="container-12">
    <div class="grid-12">
      <div id="header">
        <div id="logo">
          <a href="/"><img src="<%= image_url('header-icon.png') %>" alt=""/><span>John Williams</span></a>
        </div>
        <div id="responsive-nav">
          <ul id="nav">
            <li><a href="about">About<i class="fa fa-angle-right"></i></a></li>
            <li><a href="resume">Resume<i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
