<!-- About Header -->
<section id="one" class="wrapper style2 special">
  <header class="major">
    <h2 class="animated fadeInDown delay">About Me</h2>
  </header>
</section>

<!-- Main Section -->
<div class="grid-12">
  <div id="about">
    <h1>About Me</h1>
    <p>Hello, my name is John Williams and I live in Seattle, WA. I work as a freelance web developer and dabble in Android app development on the side.</p>
  </div>
</div>
<div class="clear"></div>

<h3 id="about-this">About This Website</h3>
<p id="about-this-p">This website was built responsively using HTML5, Sass and the Ruby on Rails framework.</p>
