<!-- About Header -->
<section id="one" class="wrapper style2 special">
  <header class="major">
    <h2 class="animated fadeInDown delay">About Me</h2>
  </header>
</section>

<!-- Main Section -->
<div class="grid-12">
  <div id="about">
    <h1>About Me</h1>
    <p>Hello, my name is John Williams and I live in Seattle, WA. I am passionate about maps and building solutions to problems.</p>
  </div>
</div>
<div class="clear"></div>

<h3 id="about-this">About This Website</h3>
<p id="about-this-p">This website was built responsively using HTML5, Sass and the Ruby on Rails framework.</p>

    <div class="body-section">
      <h2>The Life Part</h2>
      <div class="body-text">
        <p>In my off time I enjoy trying new food, traveling and spending time outdoors with good friends, and
        building maps of course! </p>
      </div>
      <div class="row image-container">
        <img class="col-sm-4" src="<%= image_url('about-image-1.jpg') %>" alt="">
        <img class="col-sm-4" src="<%= image_url('about-image-2.jpg') %>" alt="">
        <img class="col-sm-4" src="<%= image_url('about-image-3.jpg') %>" alt="">
      </div>
    </div> <!-- End About Section -->

  </div>
</div>
