<!-- Contact Header -->
<section id="one" class="wrapper style2 special">
  <header class="major">
    <h2 class="animated fadeInDown delay">Contact</h2>
  </header>
</section>

<!-- Contact Section -->
<section id="three" class="wrapper style1 fade-up white-background">
  <div class="inner">
    <h2 class="contact-header">Get in touch</h2>
    <p class="contact-text">Feel free to send me an email and don't forget to check out my github!</p>
    <div class="split style1">

      <section> <!-- Form Container -->

        <!-- Form -->
        <form>
          <div class="field half first">
            <label class="form-label" class="form-label" for="sender_name">Name</label>
            <input class="js-sender-name" type="text" name="sender_name" id="sender_name"/>
          </div>
          <div class="field half">
            <label class="form-label" for="sender_email">Email</label>
            <input class="js-sender-email" type="text" name="sender_email" id="sender_email"/>
          </div>
          <div class="field">
            <label class="form-label" for="body">Message</label>
            <textarea class="js-email-body" name="body" id="body" rows="5"></textarea>
          </div>
          <ul class="actions">
            <li><a class="button submit js-send-email">Send Message</a></li>
          </ul>

          <!-- Response Container -->
          <div class="form-response">
            <p class="success">Your message was sent.</p>
            <p class="error">There was an error.</p>
            <p class="error">Please send me a message!</p>
          </div>

        </form> <!-- End Form -->

      </section> <!-- End Form Container -->


    </div>
  </div>
</section> <!-- End Contact Container -->
