<div id="banner">
  <div class="container-12" id="banner-heading">
    <h1 class="animated fadeInDown delay">John Williams</h1>
    <h1 class="animated fadeInDown delay">Web Developer</h1>
  </div>
</div>

<!-- Main Sections -->
<section id="two" class="wrapper">
  <div class="inner alt">

    <!-- Index Sections -->
    <section class="spotlight">
      <div class="image"><img src="<%= image_url('index-image-1.jpg') %>" alt=""/></div>
      <div class="content">
        <p>I'm a full stack web developer with a background in Geographic Information Systems (GIS). I'm most in my element when collaborating on a project or designing a beautiful front-end interface.</p>
        <ul class="actions">
  				<li><a href="about" class="button">About</a></li>
  			</ul>
      </div>
    </section>

    <section class="spotlight">
      <div class="image"><img src="<%= image_url('index-image-2.jpg') %>" alt=""/></div>
      <div class="content">
        <p>I graduated from the University of Washington with a focus on GIS and have since taught myself coding and the principles of web development.</p>
        <ul class="actions">
  				<li><a href="resume" class="button">Resume</a></li>
  			</ul>
      </div>
    </section>

    <section class="spotlight">
      <div class="image"><img src="<%= image_url('index-image-3.jpg') %>" alt=""/></div>
      <div class="content">
        <br>
        <br>
        <p>Want to get in touch? Send me a message!</p>
        <ul class="actions">
  				<li><a href="contact" class="button">Contact</a></li>
  			</ul>
        <br>
      </div>
    </section>

    <section class="spotlight">
      <div class="image"><img src="<%= image_url('index-image-4.jpg') %>" alt=""/></div>
      <div class="content">
        <p>Previous Works.</p>
        <ul class="actions">
  				<li><a href="projects" class="button">Projects</a></li>
  			</ul>
        <br>
      </div>
    </section>

  </div>
</section> <!-- End Main Section -->
