<!-- Project Header -->
<section id="one" class="wrapper style2 special">
  <header class="major">
    <h2 class="animated fadeInDown delay">Previous Works</h2>
  </header>
</section>
<br>

<div class="container-12">
  <div class="grid-12">
    <div class="home" id="works">
      <h2>Projects</h2>
      <br>
      <br>
      <ul id="work-list">

        <li class="works-tn">
          <a href="https://arcane-tor-13028.herokuapp.com/"><img src="<%= image_url('project-image-1.jpg') %>" TARGET="_blank" alt="Blogger"/>
            <div class="work-meta">
              <h3>Blogger</h3><Span class="work-info">Web Design, Front End. Blogging app built using Ruby on Rails.</Span>
            </div>
          </a>
        </li>

        <li class="works-tn">
          <a href="https://mighty-lake-65707.herokuapp.com/"><img src="<%= image_url('project-image-2.jpg') %>" TARGET="_blank" alt="Private-Events"/>
            <div class="work-meta">
              <h3>Private-Events</h3><Span class="work-info">Associations, Back End. Event planning app built using Ruby on Rails. Based on the EventBrite event planner.</Span>
            </div>
          </a>
        </li>

        <li class="works-tn">
          <a href=""><img src="<%= image_url('project-image-3.jpg') %>" alt="Flight-Booker"/>
            <div class="work-meta">
              <h3>Flight Booker</h3><Span class="work-info">Coming soon</Span>
            </div>
          </a>
        </li>

      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="clear"></div>
