<!-- Project Header -->
<section id="one" class="wrapper style2 special">
  <header class="major">
    <h2 class="animated fadeInDown delay">Previous Works</h2>
  </header>
</section>
<br>

<div class="container-12">
  <div class="grid-12">
    <div class="home" id="works">
      <h2>Projects</h2>
      <br>
      <br>
      <ul id="work-list">

        <li class="works-tn">
          <a href="https://play.google.com/store/apps/details?id=in.williams.john.blackjacktracker" TARGET="_blank"><img src="<%= image_url('project-image-1.png') %>" alt="Blackjack Tracker"/>
            <div class="work-meta">
              <h3>Blackjack Tracker</h3><Span class="work-info">Android Development. Mobile app for managing casino wins and losses.</Span>
            </div>
          </a>
        </li>

        <li class="works-tn">
          <a href="https://github.com/palaiologos/RandomHistoryFacts" TARGET="_blank">
            <div class="work-meta">
              <h3>Random History Facts</h3><Span class="work-info">Android Development. Mobile app for exploring history rabbit holes and stories.</Span>
            </div>
          </a>
        </li>

        <li class="works-tn">
          <a href="https://github.com/palaiologos/One-time-pad" TARGET="_blank">
            <div class="work-meta">
              <h3>One-time Pad</h3><Span class="work-info">Text encryption and decryption using sockets.</Span>
            </div>
          </a>
        </li>

      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="clear"></div>
