<!-- Resume Header -->
<section id="one" class="wrapper style2 special">
  <header class="major">
    <h2 class="animated fadeInDown delay">Resume</h2>
  </header>
</section>

<!-- Resume Section -->
<section id="two" class="wrapper style3 fade-up">
  <div class="inner">
    <h2>Education and Work History</h2>
    <div class="break-border"></div>
    <br>
    <div class="features">

      <section>
        <span class="icon major fa-code"></span>
        <h3>Operations Specialist</h3>, Amazon</h3>
        <p>March 2018 - August 2018</p>
      </section>

      <section>
        <span class="icon major fa-code"></span>
        <h3>Risk Investigator II, Amazon</h3>
        <p>May 2017 - October 2017</p>
      </section>

      <section>
        <span class="icon major fa-desktop"></span>
        <h3>Catalog Specialist, Nordstrom</h3>
        <p>February 2017 - May 2017</p>
      </section>

      <section>
        <span class="icon major fa-code"></span>
        <h3>Risk Investigator I, Amazon</h3>
        <p>October 2016 - January 2017</p>
      </section>

      <section>
        <span class="icon major fa-desktop"></span>
        <h3>Visual Data Specialist II, Google</h3>
        <p>June 2014 - June 2015</p>
      </section>

      <section>
        <span class="icon major fa-desktop"></span>
        <h3>Visual Data Specialist I, Google</h3>
        <p>June 2013 - June 2014</p>
      </section>

      <section>
        <span class="icon major fa-chain"></span>
        <h3>Oregon State University</h3>
        <p>B. S. Computer Science, Expected June 2019</p>
      </section>

      <section>
        <span class="icon major fa-cog"></span>
        <h3>University of Washington - Seattle</h3>
        <p>B. A. Geography, June 2013</p>
      </section>

    </div> <!-- End Features -->

    <br>
    <h2>Technical Skills</h2>
    <div class="break-border"></div>
    <br>
    <div class="features">

      <section>
        <span class="icon major skillz fa-desktop"></span>
        <h3>Front-End Development</h3>
        <ul class="resume-list">
          <li>HTML5 | CSS3</li>
          <li>jQuery</li>
          <li>HTTP Request/Response</li>
          <li>Ajax</li>
        </ul>
      </section>

      <section>
        <span class="icon major skillz fa-code"></span>
        <h3>Languages</h3>
        <ul class="resume-list">
          <li>C++</li>
          <li>Ruby</li>
        </ul>
      </section>

      <section>
        <span class="icon major skillz fa-chain"></span>
        <h3>Pre-processors</h3>
        <ul class="resume-list">
          <li>LESS</li>
          <li>SASS</li>
          <li>Coffeescript</li>
        </ul>
      </section>

      <section>
        <span class="icon major skillz fa-cog"></span>
        <h3>Databases</h3>
        <ul class="resume-list">
          <li>SQL</li>
        </ul>
      </section>

    </div> <!-- End Technical Skills -->


    <ul class="actions">
      <li><a href="JohnWilliamsResume.pdf" class="button submit" download>Download PDF</a></li>
    </ul>

  </div> <!-- End Inner -->

</section> <!-- End Section -->
